package demo

// PageRequest pagination request
type PageRequest struct {
	Current int    `form:"current" binding:"required,min=1"`
	Size    int    `form:"size" binding:"required,min=1,max=100"`
	Title   string `form:"title"`
	Status  *int8  `form:"status"`
}

// CreateRequest create demo request
type CreateRequest struct {
	Title   string `json:"title" binding:"required,min=1,max=200"`
	Content string `json:"content"`
	Status  int8   `json:"status" binding:"oneof=0 1"`
}

// UpdateRequest update demo request
type UpdateRequest struct {
	Title   *string `json:"title" binding:"omitempty,min=1,max=200"`
	Content *string `json:"content"`
	Status  *int8   `json:"status" binding:"omitempty,oneof=0 1"`
}
