package demo

import (
	"time"
)

// DemoResponse demo response DTO
type DemoResponse struct {
	ID        uint      `json:"id"`
	Title     string    `json:"title"`
	Content   string    `json:"content"`
	Status    int8      `json:"status"`
	CreatedAt time.Time `json:"createdAt"`
	UpdatedAt time.Time `json:"updatedAt"`
}

// PageResponse pagination response
type PageResponse struct {
	Records []DemoResponse `json:"records"`
	Total   int64          `json:"total"`
	Size    int            `json:"size"`
	Current int            `json:"current"`
	Pages   int            `json:"pages"`
}
