package main

import (
	"{{.ModuleName}}/internal/app"
	"github.com/KOMKZ/go-yogan-framework/logger"
	"go.uber.org/zap"
)

const Version = "0.1.0"

func main() {
	// 打印版本信息
	logger.Info("main", "{{.AppName}} starting", zap.String("version", Version))

	application := app.New()
	if err := application.Run(); err != nil {
		panic(err)
	}
}
