package model

import "time"

// {{.EntityPascal}}ReadListItem 是管理端列表读模型，不作为领域写模型使用。
type {{.EntityPascal}}ReadListItem struct {
	ID        uint      `gorm:"column:id"`
	CreatedAt time.Time `gorm:"column:created_at"`
	UpdatedAt time.Time `gorm:"column:updated_at"`
}
