package model

import "time"

// {{.EntityPascal}}ReadDetailItem 是管理端详情读模型。
type {{.EntityPascal}}ReadDetailItem struct {
	ID        uint      `gorm:"column:id"`
	CreatedAt time.Time `gorm:"column:created_at"`
	UpdatedAt time.Time `gorm:"column:updated_at"`
}
