package router

import (
	"github.com/KOMKZ/go-yogan-framework/application"
	"github.com/KOMKZ/go-yogan-framework/httpx"
	helloModule "{{.ModuleName}}/internal/module/hello"
	"github.com/gin-gonic/gin"
	"github.com/samber/do/v2"
)

// RegisterHelloRoutes registers the hello routes of {{.AppName}}.
func RegisterHelloRoutes(engine *gin.Engine, app *application.Application) {
	injector := app.GetInjector()
	helloHandler := do.MustInvoke[*helloModule.HelloHandler](injector)

	api := engine.Group("/api")
	api.GET("/hello", httpx.Wrap(helloHandler.Hello))

	app.MustGetLogger().DebugCtx(app.Context(), "Hello route registered")
}
