package event

// {{.DomainKey}} 域事件定义。
// 事件经 framework event.Dispatcher 分发，app 层 subscriber 订阅处理。
//
// TODO: 定义事件结构，例如：
//
//	type {{.EntityPascal}}Created struct {
//		{{.EntityPascal}}ID uint `json:"{{.EntitySnake}}_id"`
//	}
