package hello

// HelloRequest is the request payload of the hello endpoint.
type HelloRequest struct{}

// HelloResponse is the response payload of the hello endpoint.
type HelloResponse struct {
	Message string `json:"message"`
}
