package main

import (
	"{{.ModuleName}}/internal/app"
	"github.com/KOMKZ/go-yogan-framework/logger"
	"go.uber.org/zap"
)

// Version is the current {{.AppName}} version.
var Version = "0.1.0"

func main() {
	application, err := app.New()
	if err != nil {
		logger.Fatal("main", "Application init failed", zap.Error(err))
	}

	if err := application.WithVersion(Version).Run(); err != nil {
		logger.Fatal("main", "Application start failed", zap.Error(err))
	}
}
