package command

import (
	"github.com/spf13/cobra"
)

// NewRootCmd builds the root command of {{.AppName}}.
func NewRootCmd() *cobra.Command {
	rootCmd := &cobra.Command{
		Use:   "{{.AppName}}",
		Short: "{{.Description}}",
		RunE: func(cmd *cobra.Command, args []string) error {
			return cmd.Help()
		},
	}
	rootCmd.AddCommand(newHelloCmd())
	return rootCmd
}

// newHelloCmd builds the hello subcommand.
func newHelloCmd() *cobra.Command {
	return &cobra.Command{
		Use:   "hello",
		Short: "Print hello world",
		RunE: func(cmd *cobra.Command, args []string) error {
			cmd.Println("hello world")
			return nil
		},
	}
}
