# Shared Protocol Buffer Definitions
#
# Create proto packages here, e.g.:
#   proto/auth/
#   proto/payment/
#
# Each proto package should have its own go.mod:
#   module {{.ProjectModule}}/proto/<service-name>
#
# Generate Go code:
#   protoc --go_out=. --go-grpc_out=. *.proto
