package hello

import (
	"github.com/KOMKZ/go-yogan-framework/logger"
	"github.com/samber/do/v2"
)

// ProvideHelloService registers the hello application service.
func ProvideHelloService(i do.Injector) (*HelloService, error) {
	return NewHelloService(logger.GetLogger("{{.AppNameSnake}}")), nil
}
