module {{.ModuleName}}

go 1.24.1

require (
	{{.ProjectModule}}/proto/{{.ServiceNameLower}} v0.0.0
{{- if .UseLocalFramework}}
	github.com/KOMKZ/go-yogan-framework v0.0.0
{{- end}}
	{{.ProjectModule}}/pkg v0.0.0
	go.uber.org/zap v1.27.0
)

replace (
	{{.ProjectModule}}/proto/{{.ServiceNameLower}} => ../../proto/{{.ServiceNameLower}}
	{{.ProjectModule}}/pkg => ../../pkg
{{- if .UseLocalFramework}}
	github.com/KOMKZ/go-yogan-framework => {{.FrameworkPath}}
{{- end}}
)
{{- if not .UseLocalFramework}}

// Remote mode: run `go get -u github.com/KOMKZ/go-yogan-framework@latest` to install framework
{{- end}}
