# {{.AppName}} configuration

logger:
  base_log_dir: "logs"
  app_name: "{{.AppName}}"
  logger_name: "{{.AppNameSnake}}"
  log_dir_mode: "single"
  level: "info"
  encoding: "json"
  enable_console: true
