package {{.ServiceNameLower}}

import (
	"context"

	pb "{{.ProjectModule}}/proto/{{.ServiceNameLower}}"
	"github.com/KOMKZ/go-yogan-framework/logger"
	"go.uber.org/zap"
)

// Handler {{.ServiceName}} service handler
type Handler struct {
	pb.Unimplemented{{.ServiceName}}ServiceServer
	logger *logger.CtxZapLogger
}

// NewHandler creates {{.ServiceName}} service handler
func NewHandler(log *logger.CtxZapLogger) *Handler {
	return &Handler{
		logger: log,
	}
}

// Hello example RPC method
func (h *Handler) Hello(ctx context.Context, req *pb.HelloRequest) (*pb.HelloResponse, error) {
	h.logger.DebugCtx(ctx, "Hello called",
		zap.String("name", req.Name))

	return &pb.HelloResponse{
		Message: "Hello, " + req.Name + "!",
	}, nil
}

// GetInfo example RPC method
func (h *Handler) GetInfo(ctx context.Context, req *pb.GetInfoRequest) (*pb.GetInfoResponse, error) {
	h.logger.DebugCtx(ctx, "GetInfo called",
		zap.String("id", req.Id))

	// Demo response
	return &pb.GetInfoResponse{
		Id:          req.Id,
		Name:        "Demo Item",
		Description: "This is a demo response from {{.ServiceName}}Service",
		CreatedAt:   1704067200, // 2024-01-01
	}, nil
}
