package router

import (
	"github.com/KOMKZ/go-yogan-framework/application"
	"github.com/KOMKZ/go-yogan-framework/httpx"
	{{.EntitySnake}}Module "{{.AppModule}}/internal/module/{{.EntitySnake}}"
	"github.com/gin-gonic/gin"
	"github.com/samber/do/v2"
)

// Register{{.EntityPascal}}Routes registers the {{.TableName}} routes of {{.AppName}}.
func Register{{.EntityPascal}}Routes(engine *gin.Engine, app *application.Application) {
	injector := app.GetInjector()
	handler := do.MustInvoke[*{{.EntitySnake}}Module.{{.EntityPascal}}Handler](injector)

	api := engine.Group("/api")
	group := api.Group("{{.RouteBase}}")
	{
{{- range .Endpoints}}
{{- if eq .Action "list"}}
		group.{{.Method}}("{{.RoutePath}}", httpx.Wrap(handler.List))
{{- else if eq .Action "get"}}
		group.{{.Method}}("{{.RoutePath}}", httpx.Wrap(handler.GetByID))
{{- else if eq .Action "create"}}
		group.{{.Method}}("{{.RoutePath}}", httpx.Wrap(handler.Create))
{{- else if eq .Action "update"}}
		group.{{.Method}}("{{.RoutePath}}", httpx.Wrap(handler.Update))
{{- else if eq .Action "delete"}}
		group.{{.Method}}("{{.RoutePath}}", httpx.Wrap(handler.Delete))
{{- end}}
{{- end}}
	}

	app.MustGetLogger().DebugCtx(app.Context(), "{{.EntityPascal}} routes registered")
}
